* {
  margin: 0;
  padding: 0;
}
div {
  margin: 40vh;
}

button {
  border: 1px solid saddlebrown;
  background-color: brown;
  font-size: 20px;
  color: aliceblue;
  border-radius: 10px;
  animation-name: ann;
  transition-duration: 3s;
  animation-duration: 5s;
  transition-property: transform, background-color;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes ann {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(200px) skew(30deg) rotate(360deg);
    background-color: blueviolet;
  }
  /* 70%{
        transform: skew(360deg);
    } */
  100% {
    transform: translateX(0px);
  }
}
